.btn--main-header {
  width: 200px;
  min-height: 46px;
  padding: 12px 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  color: $secondary-text-color;
  background-color: $primary-decor-color;
  border-radius: 2px;
}
.btn--main-header:hover {
  color: rgba(255, 255, 255, 0.8);
}
.btn--main-header:active {
  color: rgba(255, 255, 255, 1);
}
.btn--main-header:focus {
  color: rgba(255, 255, 255, 1);
}

.btn--download {
  @extend .btn--main-header;
  width: 240px;
}

@media (min-width: $screen-sm-min) {
  .btn--download {
    width: 280px;
  }
}
