.features {
	padding-top: 45px;
	padding-bottom: 45px;
}

@media (min-width: $screen-sm-min) {
  .features {
  	padding-top: 70px;
  	padding-bottom: 60px;
  }
}
@media (min-width: $screen-md-min) {
  .features {
  	padding-top: 101px;
  	padding-bottom: 71px;
  }
}
