.social-btns {
  display: flex;
  &--main-footer {
    justify-content: center;
  }
}
.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  .fb-icon {
    width: 8px;
    height: 18px;
  }
  .twitter-icon {
    width: 20px;
    height: 13.81px;
  }
  .linkedin-icon {
    width: 16px;
    height: 16px;
  }
}
.social-btn--team {
  border: 1px solid #e8ecee;
  margin-right: 5px;
}
.social-btn--team:hover {
  border: 1px solid #c6cacc;
  svg .cls-1 {
    fill: $body-text-color;
  }
}
.social-btn--team:active {
  opacity: 0.7;
}

.social-btn--main-footer {
  border: 2px solid $secondary-text-color;
  svg .cls-1 {
    fill: $secondary-text-color;
  }
}
.social-btn--main-footer:nth-child(2) {
  margin: 0 7px;
}
.social-btn--main-footer:hover {
  border-color: #fff;
  background: #fff;
  svg .cls-1 {
    fill: $main-footer-color;
  }
}
.social-btn--main-footer:active {
  border-color: $footer-text-color;
}
