.team {
  padding: 30px 0;
}
@media (min-width: $screen-sm-min) {
  .team {
    padding: 60px 0;
  }
}
@media (min-width: $screen-md-min) {
  .team {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
