$font-family-base:       'Raleway', sans-serif;
$font-family-header:     'Open Sans', sans-serif;
$font-size-base:          14px;
$line-height-base:        1.5;

//text color
$header-text-color:       #fff;
