$font-family-base:             'Raleway', sans-serif;
$font-family-header-title:     'Open Sans', sans-serif;
$font-family-header-content:    "Myriad Pro", sans-serif;
$font-size-base:                14px;
$line-height-base:              1.5;

//colors
$main-header-color:             #31354f;
$secondary-text-color:          #fff;
$body-title-color:              #2d3033;
$body-text-color:               #6c7279;
$footer-text-color:             #aaa;
$primary-decor-color:           #e84545;
$main-footer-color:             #3a3e64;
$secondry-footer-color:         #313454;
